{% include "header.njk" %}
<main>
  {% if page.url and title and '/posts/' in page.url %}
    <a href="/">← All Posts</a>
    <h2><a href="{{ page.url }}">{{ title }}</a></h2>
  {% endif %}

  {{ content | safe }}

</main>
{% include "footer.njk" %}